<div class="page" data-name="detailoutbox">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back nav-back">
                    <i class="f7-icons">arrow_left</i>
                </a>
                <div class="title-pages">
                    <h4>Detail Surat</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <!-- categories -->
        <div class="categories segments-page">
            <div class="container">
                <div class="row">
                    <div class="col-100">
                        <div class="list no-hairlines-md">
                          <ul>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Nomor Agenda</div>
                                <div class="item-input-wrap">
                                  <input type="text" value="222" readonly>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">No Surat</div>
                                <div class="item-input-wrap">
                                  <input type="text" value="101/XX/11/9990" readonly>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Kode Index</div>
                                <div class="item-input-wrap">
                                  <input type="text" value="333" readonly>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Jenis Surat</div>
                                <div class="item-input-wrap">
                                    <input type="text" value="Laporan" readonly>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tanggal Surat</div>
                                <div class="item-input-wrap">
                                  <input type="date" value="2020-03-11" readonly>
                                </div>
                              </div>
                            </li>

                            

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Lampiran</div>
                                <div class="item-input-wrap">
                                  <input type="text" value="Lampirannn" readonly>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Perihal</div>
                                <div class="item-input-wrap">
                                  <input type="text" value="Perihallll" readonly>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tembusan</div>
                                <div class="item-input-wrap">
                                  <input type="text" value="Tembusannn" readonly>
                                </div>
                              </div>
                            </li>

                            <div class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Disampaikan Kepada</div>
                                <div class="item-input-wrap">
                                  <small>- 197208151999011001 - <b>HENDRO PRADONO</b> - KEPALA BIDANG PENGELOLAAN TIK</small><br>
                                  <small>- 197208151999011002 - <b>HENDRA PRADANA</b> - WAKIL KEPALA BIDANG PENGELOLAAN TIK</small>
                                </div>
                              </div>
                            </div>
                          </ul>
                        </div>
                        <div class="block">
                          <div class="row">
                            <button class="col button button-fill bg-blue">Komentar</button>
                          </div>
                          <div class="row">
                            <button href="" class="col button button-fill bg-orange" id="">Edit</button>
                            <button class="col button button-fill bg-red open-confirm">Hapus</button>
                          </div>
                        </div>

                    </div>
                    
                </div>
                
            </div>
        </div>
        <!-- end categories -->
    </div>
</div>