<div class="page" data-name="detailsurat_popupdisposisi">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back nav-back">
                    <i class="f7-icons">arrow_left</i> Kembali
                </a>
                <div class="title-pages">
                    <h4>Detail Surat > Disposisi</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="row" style="margin-top: 80px;">
            <div class="col-100">
                <div class="list no-hairlines-md">
                  <ul>

                    <li class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-title item-label">Tanggal Masuk Surat</div>
                        <div class="item-input-wrap">
                          <input type="date" value="test" id="ds_tanggalMasukSurat" readonly>
                        </div>
                      </div>
                    </li>

                    <li class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-title item-label">Tanggal Surat</div>
                        <div class="item-input-wrap">
                          <input type="date" value="test" id="ds_tanggalSuratInput" readonly>
                        </div>
                      </div>
                    </li>
                 

                    <li class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-title item-label">Disampaikan Kepada</div>
                        <div class="item-input-wrap">
                            <select placeholder="Pilih Jenis..." id="ds_disampaikankepada">
                            </select>
                            <div class="row">
                                <div class="col-33">
                                    
                                </div>
                                <div class="col-33">
                                    
                                </div>
                                <div class="col-33">
                                    <button href="" class="col button button-fill" id="ds_tambahBagianPenerima"><i class="f7-icons">add_round</i></button>
                                </div>
                            </div>
                        </div>

                      </div>
                    </li>

                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-input-wrap" id="ds_bagianPenerima">
                          
                        </div>
                      </div>
                    </div>

                    <li class="item-content item-input item-input-outline">
                      <div class="item-inner">
                        <div class="item-title item-floating-label">Keterangan</div>
                        <div class="item-input-wrap">
                          <textarea placeholder="Keterangan..." id="ds_keterangan">Yth </textarea>
                          <span class="input-clear-button"></span>
                        </div>
                      </div>
                    </li>

                    <li class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-title item-label">File </div>
                        <div class="item-input-wrap">
                          <input type="file" id="ds_file" multiple >
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="list">
                  <ul>
                    <li class="item-content item-input item-input-outline">
                      <div class="item-inner">
                        <div class="item-title item-floating-label bold cdark">ISI DISPOSISI:</div>
                      </div>
                    </li>

                    <li>
                      <label class="item-checkbox item-content">
                        <input type="checkbox" name="demo-checkbox" value="Beritahu yang Bersangkutan"/>
                        <i class="icon icon-checkbox"></i>
                        <div class="item-inner">
                          <div class="item-title list-disposisi">Beritahu yang Bersangkutan</div>
                        </div>
                      </label>
                    </li>
                    <li>
                      <label class="item-checkbox item-content">
                        <input type="checkbox" name="demo-checkbox" value="Dicatat"/>
                        <i class="icon icon-checkbox"></i>
                        <div class="item-inner">
                          <div class="item-title list-disposisi">Dicatat</div>
                        </div>
                      </label>
                    </li>
                    <li>
                      <label class="item-checkbox item-content">
                        <input type="checkbox" name="demo-checkbox" value="Koordinasikan dan Dibantu"/>
                        <i class="icon icon-checkbox"></i>
                        <div class="item-inner">
                          <div class="item-title list-disposisi">Koordinasikan dan Dibantu</div>
                        </div>
                      </label>
                    </li>
                    <li>
                      <label class="item-checkbox item-content">
                        <input type="checkbox" name="demo-checkbox" value="Ketahui dan Gunakan Sebagaimana Mestinya"/>
                        <i class="icon icon-checkbox"></i>
                        <div class="item-inner">
                          <div class="item-title list-disposisi">Ketahui dan Gunakan Sebagaimana Mestinya</div>
                        </div>
                      </label>
                    </li>
                  </ul>
                </div>
                <div class="block">
                  <div class="row">
                    <button class="col button button-fill bg-green" id="ds_kirimDisposisi">Kirim</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

