<div class="page" data-name="detailsurat_metadata">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back nav-back">
                    <i class="f7-icons">arrow_left</i>
                </a>
                <div class="title-pages">
                    <h4>Metadata Surat id : <font class="dsm_id"></font></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="row" style="margin-top: 80px;">
            <div class="col-100">
                
                <div class="list no-hairlines-md">
                  <ul>
                    <li class="item-content item-input">
                        <h4>DATA SURAT :</h4>
                    </li>
                    
                    <li class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-title item-label">ID SURAT</div>
                        <div class="item-input-wrap">
                          <input type="text" value="-" id="meta_idsurat" readonly>
                        </div>
                      </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Nomor Agenda</div>
                          <div class="item-input-wrap">
                            <input type="text" value="-" id="meta_agenda" readonly>
                          </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Asal Naskah</div>
                          <div class="item-input-wrap">
                            <input type="text" value="-" id="meta_naskah" readonly>
                          </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Nomor Surat</div>
                          <div class="item-input-wrap">
                            <input type="text" value="-" id="meta_nosurat" readonly>
                          </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Tanggal Surat</div>
                          <div class="item-input-wrap">
                            <input type="text" value="-" id="meta_tglsurat" readonly>
                          </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Jenis Surat</div>
                          <div class="item-input-wrap">
                            <input type="text" value="-" id="meta_jenis" readonly>
                          </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Lampiran</div>
                          <div class="item-input-wrap">
                            <input type="text" value="-" id="meta_lampiran" readonly>
                          </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Perihal</div>
                          <div class="item-input-wrap">
                            <input type="text" value="-" id="meta_perihal" readonly>
                          </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Tembusan</div>
                          <div class="item-input-wrap">
                            <input type="text" value="-" id="meta_tembusan" readonly>
                          </div>
                        </div>
                    </li>

                 

                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-title item-label">Disampaikan Kepada</div>
                        <div class="item-input-wrap" id="meta_kepada">
                          
                        </div>
                      </div>
                    </div>

                    <li class="item-content item-input">
                        <h4>KEGIATAN :</h4>
                    </li>

                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Nama Kegiatan</div>
                          <div class="item-input-wrap">
                            <input type="text" value="-" id="meta_namakeg" readonly>
                          </div>
                        </div>
                    </li>

                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Tempat Kegiatan</div>
                          <div class="item-input-wrap">
                            <input type="text" value="-" id="meta_tempatkeg" readonly>
                          </div>
                        </div>
                    </li>

                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Waktu Kegiatan</div>
                          <div class="item-input-wrap">
                            <input type="text" value="-" id="meta_waktukeg" readonly>
                          </div>
                        </div>
                    </li>

                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Waktu Kegiatan Selesai</div>
                          <div class="item-input-wrap">
                            <input type="text" value="-" id="meta_waktukegsel" readonly>
                          </div>
                        </div>
                    </li>
                    
                    <li class="item-content item-input">
                        <h4>PENGIRIM :</h4>
                    </li>

                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Nama Pengirim</div>
                          <div class="item-input-wrap">
                            <input type="text" value="-" id="meta_namapengirim" readonly>
                          </div>
                        </div>
                    </li>

                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">No HP</div>
                          <div class="item-input-wrap">
                            <input type="text" value="-" id="meta_hp" readonly>
                          </div>
                        </div>
                    </li>

                    <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Email</div>
                          <div class="item-input-wrap">
                            <input type="text" value="-" id="meta_email" readonly>
                          </div>
                        </div>
                    </li>

                    <li class="item-content item-input">
                        <h4>DETAIL DISPOSISI :</h4>
                    </li>
                    <div id="meta_disposisi">
                        <li class="item-content item-input">
                            <div class="item-inner">
                              <div class="item-title item-label">-</div>
                            </div>
                        </li>
                    </div>

                    <li class="item-content item-input">
                        <h4>KOMENTAR :</h4>
                    </li>
                 
                  </ul>
                </div>
                
            </div>
        </div>
        <div class="bookmark">
            <div class="container">
                <div id="meta_komentar">
                    <div class="row">
                        <div class="col-30">
                            <div class="content">
                                <a href="/single-post/"><img src="img/person.png" style="border-radius: 50%;"  alt=""></a>
                            </div>
                        </div>
                        <div class="col-70">
                            <div class="content-text">
                                <font>Photography | trick effect smoke</font>
                                <p class="date">20 minute ago</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-30">
                            <div class="content">
                                <a href="/single-post/"><img src="img/person.png" style="border-radius: 50%;"  alt=""></a>
                            </div>
                        </div>
                        <div class="col-70">
                            <div class="content-text">
                                <font>Photography | trick effect smoke</font>
                                <p class="date">20 minute ago</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

