<div class="page" data-name="home">
    <!-- navbar -->
    <div class="navbar navbar-home">
        <div class="navbar-inner">
            <div class="block">
                <div class="row">
                    <div class="col-20">
                        <a href="#" class="link">
                            <i class="f7-icons">home</i>
                        </a>
                    </div>
                    <div class="col-20">
                        <a href="/inbox/" class="link">
                            <i class="f7-icons">download</i>
                        </a>
                    </div>
                    <div class="col-20">
                        <a href="/outbox/" class="link">
                            <i class="f7-icons">share</i>
                        </a>
                    </div>
                    <div class="col-20">
                        <a href="/disposisi/" class="link">
                            <i class="f7-icons">reply</i>
                        </a>
                    </div>
                    <div class="col-20">
                        <a href="/menu/" class="link">
                            <i class="f7-icons">keyboard</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- end navbar -->
    <div class="page-content">
					
        <div class="author-page">
            <div class="header">
                <img src="image/home1madiun.jpg" alt="">
                <div class="mask"></div>
            </div>
            <div class="wrap-content">
                <div class="container">
                    <div class="user">
                        <img src="image/logohome.jpg" alt="">
                        <div class="title">
                            <h3 id="namaUserLogin">undefined  </h3>
                            <!-- <i class="f7-icons refresh-page" style="color:green">reload-</i> -->
                            <small id="kolokUserLogin">undefined</small>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-100">
                                <div class="list no-hairlines-md">
                                    <ul>
                                      <li class="item-content item-input menu-admin">
                                        <div class="item-inner">
                                          <div class="item-title item-label">Pilih OPD</div>
                                          <div class="item-input-wrap input-dropdown-wrap" id="selectWannabe">
                                            <select placeholder="Please choose..." class="selectKolok" id="selectKolok">
                                              <option value="nofilter">-</option>
                                              <option value="10">SEKRETARIAT DAERAH</option>
                                              <option value="11">SEKRETARIAT DPRD</option>
                                              <option value="12">INSPEKTORAT</option>
                                              <option value="13">BADAN PENGELOLAAN KEUANGAN DAN ASET DAERAH</option>
                                              <option value="14">BADAN KEPEGAWAIAN DAERAH</option>
                                              <option value="15">BADAN PERENCANAAN DAN PEMBANGUNAN DAERAH</option>
                                              <option value="16">SATUAN POLISI PAMONG PRAJA</option>
                                              <option value="17">RUMAH SAKIT UMUM DAERAH</option>
                                              <option value="20">DINAS PERTANIAN DAN KETAHANAN PANGAN</option>
                                              <option value="21">DINAS PERPUSTAKAAN DAN KEARSIPAN</option>
                                              <option value="22">DINAS PENDIDIKAN</option>
                                              <option value="23">DINAS LINGKUNGAN HIDUP</option>
                                              <option value="24">DINAS PERHUBUNGAN</option>
                                              <option value="25">DINAS PERUMAHAN DAN KAWASAN PERMUKIMAN</option>
                                              <option value="26">DINAS PEKERJAAN UMUM DAN TATA RUANG</option>
                                              <option value="27">DINAS KOMUNIKASI DAN INFORMATIKA</option>
                                              <option value="28">DINAS KESEHATAN DAN KELUARGA BERENCANA</option>
                                              <option value="29">DINAS PERDAGANGAN</option>
                                              <option value="30">DINAS SOSIAL, PEMBERDAYAAN PEREMPUAN DAN PERLINDUNGAN ANAK</option>
                                              <option value="31">DINAS KEBUDAYAAN, PARIWISATA, KEPEMUDAAN DAN OLAHRAGA</option>
                                              <option value="32">DINAS PENANAMAN MODAL, PELAYANAN TERPADU SATU PINTU, KOPERASI DAN USAHA MIKRO</option>
                                              <option value="33">DINAS KEPENDUDUKAN DAN PENCATATAN SIPIL</option>
                                              <option value="34">DINAS TENAGA KERJA</option>
                                              <option value="35">BADAN PENDAPATAN DAERAH</option>
                                              <option value="36">BADAN PENANGGULANGAN BENCANA DAERAH</option>
                                              <option value="37">BADAN KESATUAN BANGSA DAN POLITIK</option>
                                              <option value="51">KECAMATAN KARTOHARJO</option>
                                              <option value="52">KECAMATAN MANGUHARJO</option>
                                              <option value="53">KECAMATAN TAMAN</option>
                                              <option value="101">BAGIAN UMUM</option>
                                              <option value="102">BAGIAN ADMINISTRASI PEMERINTAHAN UMUM</option>
                                              <option value="103">BAGIAN ADMINISTRASI PEMBANGUNAN</option>
                                              <option value="104">BAGIAN HUKUM</option>
                                              <option value="105">BAGIAN ORGANISASI</option>
                                              <option value="106">BAGIAN ADMINISTRASI PEREKONOMIAN DAN KESEJAHTERAAN RAKYAT</option>
                                              <option value="1">WALIKOTA</option>
                                            </select>
                                          </div>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                            </div>
                            
                        </div>
                        <div class="categories">
                            <div class="container">
                                <div class="row">
                                    <div class="col-50">
                                        <a href="/inbox/">
                                            <div class="content">
                                                <div class="wrap-icon">
                                                    <div class="border"></div>
                                                    <div class="icon">
                                                        <i class="f7-icons">download</i>
                                                    </div>
                                                </div>
                                                <h3 id="jumlahInbox">0</h3>
                                                <span>Surat Masuk</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-50">
                                        <a href="/outbox/">
                                            <div class="content">
                                                <div class="wrap-icon">
                                                    <div class="border"></div>
                                                    <div class="icon">
                                                        <i class="f7-icons">share</i>
                                                    </div>
                                                </div>
                                                <h3 id="jumlahOutbox">0</h3>
                                                <span>Surat Keluar</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-50">
                                        <a href="/disposisi/">
                                            <div class="content">
                                                <div class="wrap-icon">
                                                    <div class="border"></div>
                                                    <div class="icon">
                                                        <i class="f7-icons">reply</i>
                                                    </div>
                                                </div>
                                                <h3 id="jumlahDisposisi">0	</h3>
                                                <span>Surat Disposisi</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-50">
                                        <a href="#" id="btnTambahSurat">
                                            <div class="content">
                                                <div class="wrap-icon">
                                                    <div class="border"></div>
                                                    <div class="icon">
                                                        <i class="f7-icons">add</i>
                                                    </div>
                                                </div>
                                                <h3>&nbsp;</h3>
                                                <span><b>Tambah Surat</b></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>