<div class="page" data-name="outbox">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back nav-back">
                    <i class="f7-icons">arrow_left</i>
                </a>
                <div class="title-pages">
                    <h4>Kotak Keluar</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="toolbar tabbar tabbar-scrollable toolbar-bottom">
        <div class="navbar navbar-home">
            <div class="navbar-inner">
                <div class="block">
                    <div class="row">
                        <div class="col-20">
                            <a href="/" class="link">
                                <i class="f7-icons">home</i>
                            </a>
                        </div>
                        <div class="col-20">
                            <a href="/inbox/" class="link">
                                <i class="f7-icons">download</i>
                            </a>
                        </div>
                        <div class="col-20">
                            <a href="/outbox/" class="link">
                                <i class="f7-icons">share</i>
                            </a>
                        </div>
                        <div class="col-20">
                            <a href="/disposisi/" class="link">
                                <i class="f7-icons">reply</i>
                            </a>
                        </div>
                        <div class="col-20">
                            <a href="/menu/" class="link">
                                <i class="f7-icons">keyboard</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="page-content">
        
        <div class="categories segments-page" style="padding: 80px 0 30px !important;">
            <div class="title-chip" style="margin:0px auto;text-align: center;">
                <div class="chip chip-jenis color-green" style="border-radius: 4px;" data-jenis="verifikasi">
                    <div class="chip-media">
                        <i class="f7-icons cdark" >download</i>
                    </div>
                    <div class="chip-label cdark">Diverifikasi</div>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="chip chip-jenis chip-fill" style="border-radius: 4px;" data-jenis="revisi">
                    <div class="chip-media" >
                        <i class="f7-icons cdark">edit</i>
                    </div>
                    <div class="chip-label cdark">Revisi</div>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="chip chip-jenis chip-fill" style="border-radius: 4px;" data-jenis="disetujui">
                    <div class="chip-media" >
                        <i class="f7-icons cdark">checkmark_rectangle</i>
                    </div>
                    <div class="chip-label cdark">Disetujui</div>
                </div>
            </div>
            <div class="container">
              
                <!-- <div class="row">
                    <div class="col-100">
                        <div class="list no-hairlines-md">
                            <ul>
                              <li class="item-content item-input">
                                <div class="item-inner">
                                  
                                </div>
                              </li>
                            </ul>
                          </div>
                    </div>
                    
                </div> -->
                <div id="kotaksuratkeluar">
                
                </div>
                
            </div>
        </div>
        <!-- end categories -->
    </div>
</div>