<div class="page" data-name="tte_page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back nav-back">
                    <i class="f7-icons">arrow_left</i>
                </a>
                <div class="title-pages">
                    <h4>Tanda Tangan Elektronik</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <!-- categories -->
        <div class="categories segments-page" style="padding: 80px 0 30px !important;">
            <div class="container">
                <div class="title-info" style="text-align: center;margin:0px auto;">
                    <div class="chip color-blue chip-outline" >
                        <div class="chip-label" style="font-weight: bold;font-size: 14px;">File Ini Sudah Di Tanda Tangan Elektronik.</div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-100">
                        <div class="list no-hairlines-md">
                          <ul>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">NIK</div>
                                <div class="item-input-wrap">
                                  <input type="text" value="" id="ttepage_nik" class="nomoragenda" readonly>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">File Surat</div>
                                <div class="item-input-wrap">
                                    <div id="filesurat_tte">-</div>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">PassPhrase</div>
                                <div class="item-input-wrap">
                                  <input type="password" value="" id="passphrase" class="passphrase">
                                </div>
                              </div>
                            </li>
                        </ul>

                        <div class="block">
                            <div class="row">
                              <button class="col button button-fill bg-blue" id="tte_kirim">Simpan TTE</button>
                            </div>
                        </div>
                        </div>
                    

                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>

