<div class="page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back nav-back">
                    <i class="f7-icons">arrow_left</i>
                </a>
                <div class="title-pages">
                    <h4>Jadwal Acara</h4>
                </div>
            </div>
        </div>
    
    </div>
    <div class="toolbar tabbar tabbar-scrollable toolbar-bottom">
        <div class="navbar navbar-home">
            <div class="navbar-inner">
                <div class="block">
                    <div class="row">
                        <div class="col-20">
                            <a href="/" class="link">
                                <i class="f7-icons">home</i>
                            </a>
                        </div>
                        <div class="col-20">
                            <a href="/inbox/" class="link">
                                <i class="f7-icons">download</i>
                            </a>
                        </div>
                        <div class="col-20">
                            <a href="/outbox/" class="link">
                                <i class="f7-icons">share</i>
                            </a>
                        </div>
                        <div class="col-20">
                            <a href="/disposisi/" class="link">
                                <i class="f7-icons">reply</i>
                            </a>
                        </div>
                        <div class="col-20">
                            <a href="/menu/" class="link">
                                <i class="f7-icons">keyboard</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <!-- categories -->
        <div class="categories segments-page"  style="padding: 50px 0 30px !important;">

            <div class="container" >
                
                <div class="timeline"  id="agenda">
                  
                  
                </div>
            </div>
        </div>
        <!-- end categories -->
    </div>
</div>