<div class="page" data-name="carisurat">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back nav-back">
                    <i class="f7-icons">arrow_left</i>
                </a>
                <div class="title-pages">
                    <h4>Cari Surat</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="toolbar tabbar tabbar-scrollable toolbar-bottom">
        <div class="navbar navbar-home">
            <div class="navbar-inner">
                <div class="block">
                    <div class="row">
                        <div class="col-20">
                            <a href="/" class="link">
                                <i class="f7-icons">home</i>
                            </a>
                        </div>
                        <div class="col-20">
                            <a href="/inbox/" class="link">
                                <i class="f7-icons">download</i>
                            </a>
                        </div>
                        <div class="col-20">
                            <a href="/outbox/" class="link">
                                <i class="f7-icons">share</i>
                            </a>
                        </div>
                        <div class="col-20">
                            <a href="/disposisi/" class="link">
                                <i class="f7-icons">reply</i>
                            </a>
                        </div>
                        <div class="col-20">
                            <a href="/menu/" class="link">
                                <i class="f7-icons">keyboard</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <!-- categories -->
        <div class="categories segments-page">
            <div class="container">
                <div class="row">
                    <div class="col-100">
                        <div class="list no-hairlines-md">
                          <ul>
                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tipe Surat</div>
                                <div class="item-input-wrap">
                                    <select placeholder="Pilih Tipe..." id="tipesurat">
                                      <option value="a">Surat Masuk</option>
                                      <option value="b">Surat Keluar</option>
                                    </select>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tanggal Masuk Surat</div>
                                <div class="item-input-wrap">
                                  <input type="date" value="" placeholder="Pilih Tanggal..." id="tanggalmasuksurat">
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Jenis Surat</div>
                                <div class="item-input-wrap">
                                    <select placeholder="Pilih Jenis..." id="jenissurat">
                                      <option value="a">Berita Acara</option>
                                      <option value="b">Instruksi</option>
                                    </select>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tanggal Surat</div>
                                <div class="item-input-wrap">
                                  <input type="date" value="" placeholder="Pilih Tanggal..." id="tanggalsurat">
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">No Surat</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Nomor Surat..." id="nomorsurat">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Lampiran</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Lampiran..." id="lampiran">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Perihal</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Perihal..." id="perihal">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tembusan</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Tembusan..." id="tembusan">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>
                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Nama Pengirim</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Nama Pengirim..." id="namapengirim">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">No HP</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="No HP..." id="nomorhp">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Email</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Email..." id="email">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Nomor Disposisi</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Nomor Disposisi..." id="nomordisposisi">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>
                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Nama Acara</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Nomor Disposisi..." id="namaacara">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>
                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tempat Acara</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Nomor Disposisi..." id="tempatacara">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>
                            <div class="block">
                              <div class="row">
                                <button class="col button button-fill bg-green dynamic-popup" id="cariSurat" data-popup=".popup-cari">Cari Surat</button>
                              </div>
                            </div>
                          </ul>
                        </div>
                    </div>
                  
                </div>

                
                
            </div>
        </div>
        <!-- end categories -->

    </div>

    

</div>