<div class="page" data-name="compose">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back nav-back">
                    <i class="f7-icons">arrow_left</i>
                </a>
                <div class="title-pages">
                    <h4>Tulis Surat</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <!-- categories -->
        <div class="categories segments-page">
            <div class="container">
                <div class="row">
                    <div class="col-100">
                        <div class="list no-hairlines-md">
                          <ul>
                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tipe Surat</div>
                                <div class="item-input-wrap">
                                    <select placeholder="Pilih Tipe...">
                                      <option value="a">Surat Masuk</option>
                                      <option value="b">Surat Keluar</option>
                                    </select>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Nomor Agenda</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Nomor...">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Kode Index</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Kode...">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tanggal Masuk Surat</div>
                                <div class="item-input-wrap">
                                  <input type="date" value="" placeholder="Pilih Tanggal...">
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Jenis Surat</div>
                                <div class="item-input-wrap">
                                    <select placeholder="Pilih Jenis...">
                                      <option value="a">Berita Acara</option>
                                      <option value="b">Instruksi</option>
                                    </select>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tanggal Surat</div>
                                <div class="item-input-wrap">
                                  <input type="date" value="" placeholder="Pilih Tanggal...">
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">No Surat</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Nomor Surat...">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Lampiran</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Lampiran...">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Perihal</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Perihal...">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tembusan</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Tembusan...">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Disampaikan Kepada</div>
                                <div class="item-input-wrap">
                                    <select placeholder="Pilih Jenis..." id="disampaikankepada">
                                      <option value="">--</option>
                                      <option value="1" data-name = "Kepala Badan Pengelolaan Keuangan dan Aset Daerah">Kepala Badan Pengelolaan Keuangan dan Aset Daerah</option>
                                      <option value="2" data-name = "Sekretaris">Sekretaris</option>
                                    </select>
                                    <div class="row">
                                        <div class="col-33">
                                            
                                        </div>
                                        <div class="col-33">
                                            
                                        </div>
                                        <div class="col-33">
                                            <button href="" class="col button button-fill" id="tambahBagianPenerima"><i class="f7-icons">add_round</i></button>
                                        </div>
                                    </div>
                                </div>

                              </div>
                            </li>
                            
                            <div class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-input-wrap" id="bagianPenerima">
                                  
                                </div>
                              </div>
                            </div>


                            <li class="item-content item-input item-input-outline">
                              <div class="item-inner">
                                <div class="item-title item-floating-label"></div>
                                <div class="item-input-wrap">
                                    <div class="text-editor text-editor-init" id="my-text-editor" data-placeholder="Enter text...">
                                      <div class="text-editor-content" id="pesanKetik" contenteditable>
                                          <p>Yth.</p>>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <small class="pb-page">4 gambar berhasil ditambahkan</small>
                        <div class="block">
                          <div class="row">
                            <button href="" class="col button button-fill" id="tambahGambar"><i class="f7-icons">add_round</i>Gambar</button>
                            <button class="col button button-fill bg-green" id="simpanSurat">Simpan</button>
                          </div>
                        </div>

                    </div>
                    
                </div>
                
            </div>
        </div>
        <!-- end categories -->
    </div>
</div>