<div class="page" data-name="compose">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back nav-back">
                    <i class="f7-icons">arrow_left</i>
                </a>
                <div class="title-pages">
                    <h4>Tambah Surat <font class="statesurat"></font></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="toolbar tabbar tabbar-scrollable toolbar-bottom">
        <div class="navbar navbar-home">
            <div class="navbar-inner">
                <div class="block">
                    <div class="row">
                        <div class="col-20">
                            <a href="/" class="link">
                                <i class="f7-icons">home</i>
                            </a>
                        </div>
                        <div class="col-20">
                            <a href="/inbox/" class="link">
                                <i class="f7-icons">download</i>
                            </a>
                        </div>
                        <div class="col-20">
                            <a href="/outbox/" class="link">
                                <i class="f7-icons">share</i>
                            </a>
                        </div>
                        <div class="col-20">
                            <a href="/disposisi/" class="link">
                                <i class="f7-icons">reply</i>
                            </a>
                        </div>
                        <div class="col-20">
                            <a href="/menu/" class="link">
                                <i class="f7-icons">keyboard</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <!-- categories -->
        <div class="categories segments-page">
            <div class="container" style="margin-top: -70px;">
                <div class="row">
                    <div class="col-100">
                        <div class="list no-hairlines-md">
                          <ul>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Nomor Agenda</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Contoh : 011/xxx/2020" id="nomorAgenda">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>
                            

                            <li class="item-content item-input stateMasuk">
                              <div class="item-inner">
                                <div class="item-title item-label">Nomor Asal Naskah <font class="cred">(*)</font></div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Wajib Diisi" id="nomorAsalNaskah">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input stateMasuk">
                              <div class="item-inner">
                                <div class="item-title item-label">Tanggal Masuk Surat <font class="cred">(*)</font></div>
                                <div class="item-input-wrap">
                                  <input type="date" value="" placeholder="Pilih Tanggal..." id="tanggalMasukSuratCompose">
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Jenis Naskah</div>
                                <div class="item-input-wrap">
                                    <select placeholder="Pilih Jenis..."  id="jenisSuratCompose">
                                      
                                    </select>
                                </div>
                              </div>
                            </li>

                            <div id="container">
                              <li class="item-content item-input">
                                <div class="item-inner">
                                  <div class="item-title item-label">Tembusan</div>
                                  <div class="item-input-wrap">
                                      <select placeholder="Pilih Jenis..." id="tembusanCompose">
                                      </select>
                                      <div class="row">
                                          <div class="col-33">
                                              
                                          </div>
                                          <div class="col-33">
                                              
                                          </div>
                                          <div class="col-33">
                                              <button  class="col button button-fill" id="tambahBagianPenerimaTembusanCompose"><i class="f7-icons">add_round</i></button>
                                          </div>
                                      </div>
                                  </div>
  
                                </div>
                              </li>
                              
                              <div class="item-content item-input">
                                <div class="item-inner">
                                  <div class="item-input-wrap" id="bagianPenerimaTembusanCompose">
                                    
                                  </div>
                                </div>
                              </div>
                            </div>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Asal Naskah <font class="cred">(*)</font></div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Wajib Diisi" id="asalNaskahCompose">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>


                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tanggal Surat <font class="cred">(*)</font></div>
                                <div class="item-input-wrap">
                                  <input type="date" value="" placeholder="Pilih Tanggal..." id="tanggalSuratCompose">
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">No Surat <font class="cred">(*)</font></div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Nomor Surat..." id="noSuratCompose">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input stateKeluar">
                              <div class="item-inner">
                                <div class="item-title item-label">Lampiran</div>
                                <div class="item-input-wrap">
                                  <input type="file" name="filekeluar" id="lampiranKeluar">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input stateMasuk">
                              <div class="item-inner">
                                <div class="item-title item-label">Lampiran</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Lampiran..." id="lampiranCompose">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Perihal <font class="cred">(*)</font></div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Perihal..." id="perihalSuratCompose">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            
                          <div id="container">
                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Disampaikan Kepada</div>
                                <div class="item-input-wrap">
                                    <select placeholder="Pilih Jenis..." id="disampaikankepadacompose">
                                    </select>
                                    <div class="row">
                                        <div class="col-33">
                                            
                                        </div>
                                        <div class="col-33">
                                            
                                        </div>
                                        <div class="col-33">
                                            <button  class="col button button-fill" id="tambahBagianPenerimaCompose"><i class="f7-icons">add_round</i></button>
                                        </div>
                                    </div>
                                </div>

                              </div>
                            </li>
                            
                            <div class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-input-wrap" id="bagianPenerimaCompose">
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                          <li class="item-content item-input">
                            <div class="item-inner">
                              <div class="item-title item-label"></div>
                              <div class="item-input-wrap">
                                <label class="checkbox"><input type="checkbox" id="checkboxMasterData"><i class="icon-checkbox"></i></label> Data Master
                                <span class="input-clear-button"></span>
                              </div>
                            </div>
                          </li>
                          <div id="masterDataInput">
                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tingkat Perkembangan</div>
                                <div class="item-input-wrap">
                                    <select placeholder="Pilih Tipe..." id="tingkatPerkembangan">
                                    </select>
                                </div>
                              </div>
                            </li>
                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tingkat Urgentsi Surat</div>
                                <div class="item-input-wrap">
                                    <select placeholder="Pilih Tipe..." id="tingkatUrgentsi">
                                    </select>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Sifat Surat Surat</div>
                                <div class="item-input-wrap">
                                    <select placeholder="Pilih Tipe..." id="sifatSurat">
                                    </select>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input stateMasuk">
                              <div class="item-inner">
                                <div class="item-title item-label">Tambah File</div>
                                <div class="item-input-wrap">
                                  <input type="file" name="file1" id="file1">
                                  <input type="file" name="file2" id="file2">
                                  <input type="file" name="file3" id="file3">
                                  <input type="file" name="file4" id="file4">
                                  <input type="file" name="file5" id="file5">
                                </div>
                              </div>
                            </li>

                          </div> 
                          <!-- end div master data   -->
                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label"></div>
                                <div class="item-input-wrap">
                                  <label class="checkbox"><input type="checkbox" id="checkboxTambahAcara"><i class="icon-checkbox"></i></label> Data Kegiatan
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>
                            <div id="tambahAcaraInput">
                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Nama Acara</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Nama Acara..." id="namaAcara">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>
                      
                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Waktu Mulai</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Waktu Mulai..." readonly="readonly" id="demo-picker-date" value="-" class="waktuMulai"/>
                                  <span class="input-clear-button"></span>
                                    <div class="block block-strong no-padding no-margin margin-bottom">
                                      <div id="demo-picker-date-container"></div>
                                    </div>
                                </div>

                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Waktu Selesai</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Waktu Selesai..." readonly="readonly" id="demo-picker-date2" class="waktuSelesai"/>
                                  <span class="input-clear-button"></span>
                                    <div class="block block-strong no-padding no-margin margin-bottom">
                                      <div id="demo-picker-date-container2"></div>
                                    </div>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tempat Acara</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Tempat..." id="tempatAcara">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>
                            
                            </div>
                            <li class="item-content item-input stateKeluar">
                              <div class="item-inner">
                                <div class="item-title item-label">Tulis Surat <font class="cred">(*)</font></div>
                                <div class="item-input-wrap">
                                  <textarea placeholder="Wajib Diisi" id="tulisSuratKeluar"></textarea>
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>
                            <!-- <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Nama Pengirim</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Nama Pengirim..." id="namaPengirim">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">No HP</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="No HP..." id="noHp">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Email</div>
                                <div class="item-input-wrap">
                                  <input type="text" placeholder="Email..." id="email">
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li> -->

                            

                          </ul>
                        </div>
                        <div class="block">
                          <div class="row">
                            
                            <button class="col button button-fill bg-green" id="simpanSurat">Simpan</button>
                          </div>
                        </div>

                    </div>
                    
                </div>
                
            </div>
        </div>
        <!-- end categories -->
    </div>
</div>