<div class="page" data-name="detailsurat">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back nav-back">
                    <i class="f7-icons">arrow_left</i>
                </a>
                <div class="title-pages">
                    <h4>Detail Surat</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
      <iframe id="iframe_detailsurat" style="display:none;"></iframe>
        <!-- categories -->
        <div class="categories segments-page" style="padding: 80px 0 30px !important;">
            <div class="container">
                <div class="row">
                    <div class="col-100">
                        <div class="list no-hairlines-md">
                          <ul>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Nomor Agenda</div>
                                <div class="item-input-wrap">
                                  <input type="text" value="" id="nomoragenda" class="nomoragenda">
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">No Surat</div>
                                <div class="item-input-wrap">
                                  <input type="text" value="" id="nosurat" class="nosurat">
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Kode Index</div>
                                <div class="item-input-wrap">
                                  <input type="text" value="" id="kodeindex" class="kodeindex">
                                </div>
                              </div>
                            </li>

                            <!-- <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Jenis Surat</div>
                                <div class="item-input-wrap">
                                    <input type="text" value="" id="jenissurat" readonly>
                                </div>
                              </div>
                            </li> -->

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tanggal Surat</div>
                                <div class="item-input-wrap">
                                  <input type="date" value="" id="tanggalsurat" class="tanggalsurat">
                                </div>
                              </div>
                            </li>

                            

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Lampiran</div>
                                <div class="item-input-wrap">
                                  <input type="text" value="" id="lampiran" class="lampiran">
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Perihal</div>
                                <div class="item-input-wrap">
                                  <input type="text" value="" id="perihal" class="perihal">
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tembusan</div>
                                <div class="item-input-wrap">
                                  <input type="text" value="" id="tembusan" class="tembusan">
                                </div>
                              </div>
                            </li>

                            <div class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Disampaikan Kepada</div>
                                <div class="item-input-wrap" id="listDisampaikan">

                                </div>
                              </div>
                            </div>
                          </ul>
                        </div>
                        <div class="block">
                          <div class="row">
                            <a href="" class="col button button-fill bg-blue" style="color: white;" id="tambahKomentar">Komentar</a>
                            <!-- <a href="" class="col button button-fill bg-green" style="color: white;">Disposisi</a> -->
                            <a class="col button button-fill bg-green popup-disposisi"  style="color: white;">Disposisi</a>
                          </div>
                          <div class="row">
                            <a href="" class="col button button-fill bg-orange metadata" style="color: white;">Metadata</a>
                            <a class="col button open-confirm button-fill bg-red riwayat" style="color: white;">Riwayat</a>
                            
                          </div>
                          <div class="row row-kadis">
                            <a class="col button open-confirm button-fill bg-green tte" style="color: white;">Tanda Tangan Digital</a>
                          </div>
                        </div>

                    </div>
                    
                </div>
                
            </div>
        </div>
        <!-- end categories -->
        <!-- coba -->
        <div class="popup popup-services">
          <div class="block">
            <a class="link popup-close">
              <i class="f7-icons">arrow_left</i><h3>Kembali</h3>
            </a>
            <div class="row">
              <div class="col-100">
                  <div class="list no-hairlines-md">
                    <ul>

                      <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Tanggal Surat</div>
                          <div class="item-input-wrap">
                            <input type="date" value="" id="tanggalSuratInput" readonly>
                          </div>
                        </div>
                      </li>
                      <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Perihal</div>
                          <div class="item-input-wrap">
                            <input type="text" value="" id="perihal" placeholder="Perihal...">
                          </div>
                        </div>
                      </li>

                      <li class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-title item-label">Disampaikan Kepada</div>
                          <div class="item-input-wrap">
                              <select placeholder="Pilih Jenis..." id="disampaikankepada">
                              </select>
                              <div class="row">
                                  <div class="col-33">
                                      
                                  </div>
                                  <div class="col-33">
                                      
                                  </div>
                                  <div class="col-33">
                                      <button href="" class="col button button-fill" id="tambahBagianPenerima"><i class="f7-icons">add_round</i></button>
                                  </div>
                              </div>
                          </div>

                        </div>
                      </li>

                      <div class="item-content item-input">
                        <div class="item-inner">
                          <div class="item-input-wrap" id="bagianPenerima">
                            
                          </div>
                        </div>
                      </div>

                      <li class="item-content item-input item-input-outline">
                        <div class="item-inner">
                          <div class="item-title item-floating-label">Keterangan</div>
                          <div class="item-input-wrap">
                            <textarea placeholder="Keterangan..." id="keterangan"></textarea>
                            <span class="input-clear-button"></span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="block">
                    <div class="row">
                      <button class="col button button-fill bg-green" id="kirimDisposisi">Kirim</button>
                    </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
        <!-- popup disposisi -->
        <div class="popup popup-disposisi">
          <div class="page-content"><div class="block">
                  <a class="link popup-close">
                      <i class="f7-icons">arrow_left</i><h3>Kembali</h3>
                  </a>
                </div>
                  <div class="row">
                      <div class="col-100">
                          <div class="list no-hairlines-md">
                            <ul>

                              <li class="item-content item-input">
                                <div class="item-inner">
                                  <div class="item-title item-label">Tanggal Surat</div>
                                  <div class="item-input-wrap">
                                    <input type="date" value="" id="tanggalSuratInput" readonly>
                                  </div>
                                </div>
                              </li>
                              <li class="item-content item-input">
                                <div class="item-inner">
                                  <div class="item-title item-label">Perihal</div>
                                  <div class="item-input-wrap">
                                    <input type="text" value="" id="perihal" placeholder="Perihal...">
                                  </div>
                                </div>
                              </li>

                              <li class="item-content item-input">
                                <div class="item-inner">
                                  <div class="item-title item-label">Disampaikan Kepada</div>
                                  <div class="item-input-wrap">
                                      <select placeholder="Pilih Jenis..." id="disampaikankepada">
                                      </select>
                                      <div class="row">
                                          <div class="col-33">
                                              
                                          </div>
                                          <div class="col-33">
                                              
                                          </div>
                                          <div class="col-33">
                                              <button href="" class="col button button-fill" id="tambahBagianPenerima"><i class="f7-icons">add_round</i></button>
                                          </div>
                                      </div>
                                  </div>

                                </div>
                              </li>

                              <div class="item-content item-input">
                                <div class="item-inner">
                                  <div class="item-input-wrap" id="bagianPenerima">
                                    
                                  </div>
                                </div>
                              </div>

                              <li class="item-content item-input item-input-outline">
                                <div class="item-inner">
                                  <div class="item-title item-floating-label">Keterangan</div>
                                  <div class="item-input-wrap">
                                    <textarea placeholder="Keterangan..." id="keterangan"></textarea>
                                    <span class="input-clear-button"></span>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <div class="block">
                            <div class="row">
                              <button class="col button button-fill bg-green" id="kirimDisposisi">Kirim</button>
                            </div>
                          </div>
                      </div>
                  </div>
                  
            </div>
          </div>
        <!-- end popup disposisi -->
    </div>
</div>

