<div class="page">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back nav-back">
                    <i class="f7-icons">arrow_left</i>
                </a>
                <div class="title-pages">
                    <h4>Riwayat Surat id : <span class='text_idsurat'></span></h4>
                </div>
            </div>
        </div>
    
    </div>

    <div class="page-content">
        <!-- categories -->
        <div class="categories"  style="padding: 50px 0 30px !important;">

            
                <div class="timeline" id="ds_riwayatisi">
                    -
                </div>
            
        </div>
        <!-- end categories -->
    </div>
</div>