<div class="page" data-name="inputdisposisi">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back nav-back">
                    <i class="f7-icons">arrow_left</i>
                </a>
                <div class="title-pages">
                    <h4>Disposisi Surat</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <!-- categories -->
        <div class="categories segments-page">
            <div class="container">
                <div class="row">
                    <div class="col-100">
                        <div class="list no-hairlines-md">
                          <ul>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Tanggal Surat</div>
                                <div class="item-input-wrap">
                                  <input type="date" value="" readonly>
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Perihal</div>
                                <div class="item-input-wrap">
                                  <input type="text" value="" id="perihal" placeholder="Perihal....">
                                </div>
                              </div>
                            </li>

                            <li class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-title item-label">Disampaikan Kepada</div>
                                <div class="item-input-wrap">
                                    <select placeholder="Pilih Jenis..." id="disampaikankepada">
                                      <option value="">--</option>
                                      <option value="1" data-name = "Kepala Badan Pengelolaan Keuangan dan Aset Daerah">Kepala Badan Pengelolaan Keuangan dan Aset Daerah</option>
                                      <option value="2" data-name = "Sekretaris">Sekretaris</option>
                                    </select>
                                    <div class="row">
                                        <div class="col-33">
                                            
                                        </div>
                                        <div class="col-33">
                                            
                                        </div>
                                        <div class="col-33">
                                            <button href="" class="col button button-fill" id="tambahBagianPenerima"><i class="f7-icons">add_round</i></button>
                                        </div>
                                    </div>
                                </div>

                              </div>
                            </li>

                            <div class="item-content item-input">
                              <div class="item-inner">
                                <div class="item-input-wrap" id="bagianPenerima">
                                  
                                </div>
                              </div>
                            </div>

                            <li class="item-content item-input item-input-outline">
                              <div class="item-inner">
                                <div class="item-title item-floating-label">Keterangan</div>
                                <div class="item-input-wrap">
                                  <textarea placeholder="Keterangan..."></textarea>
                                  <span class="input-clear-button"></span>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="block">
                          <div class="row">
                            <button class="col button button-fill bg-green">Kirim</button>
                          </div>
                        </div>

                    </div>
                    
                </div>
                
            </div>
        </div>
        <!-- end categories -->
    </div>
</div>