<div class="page" data-name="menu">
    <div class="navbar navbar-page">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back nav-back">
                    <i class="f7-icons">arrow_left</i>
                </a>
                <div class="title-pages">
                    <h4>Menu</h4>
                </div>
            </div>
            <div class="right choose-color-icon">
                <a class="panel-open" href="#" data-panel="right"><i class="f7-icons">gear</i></a>
            </div>
        </div>
    </div>
    
    <div class="page-content">
        <!-- pages list -->
        <div class="pages-list segments-page"  style="padding: 80px 0 30px !important;">
            <div class="container">
                <div class="choose-color">
                    <div class="panel panel-right panel-cover panel-color">
                        <div class="block">
                            <div class="toolbar tabbar">
                                <div class="toolbar-inner">
                                    <a class="tab-link tab-link-active" id="light-tab" href="#tab-demo-1" onclick="setActiveStyleSheet('default'); return false;">Light</a>
                                    <a class="tab-link" id="dark-tab" href="#tab-demo-2" onclick="setActiveStyleSheet('style-dark-blue'); return false;">Dark</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="wrap-title">
                        <h3>Menu Utama</h3>
                    </div>
                    <ul>
                        <li>
                            <a href="/inbox/" class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <i class="f7-icons">download</i>
                                        <span>Surat Masuk</span>
                                        <i class="f7-icons">chevron_right</i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/outbox/" class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <i class="f7-icons">share</i>
                                        <span>Surat Keluar</span>
                                        <i class="f7-icons">chevron_right</i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/disposisi/" class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <i class="f7-icons">reply</i>
                                        <span>Surat Disposisi</span>
                                        <i class="f7-icons">chevron_right</i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/composetulis/" class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <i class="f7-icons">add</i>
                                        <span>Tulis Surat</span>
                                        <i class="f7-icons">chevron_right</i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/cari/" class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <i class="f7-icons">search</i>
                                        <span>Cari Surat</span>
                                        <i class="f7-icons">chevron_right</i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/calendar/" class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <i class="f7-icons">calendar</i>
                                        <span>Jadwal Acara</span>
                                        <i class="f7-icons">chevron_right</i>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="content">
                    <div class="wrap-title">
                        <h3>Akun</h3>
                    </div>
                    <ul>
                        <li>
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <i class="f7-icons">person</i>
                                        <span>Ubah Password</span>
                                        <i class="f7-icons">chevron_right</i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title" id="logoutBtn">
                                        <i class="f7-icons">arrow_left</i>
                                        <span>Log Out</span>
                                        <i class="f7-icons">chevron_right</i>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end pages list -->
    </div>
</div>